button {
  color: #000000;
  padding: 2.5vh;
  border: 0;
}

button:hover:not(.disabled) {
  background-color: rgba(255, 255, 255, .8);
  cursor: pointer;
}

button:not(.disabled):active {
  transform: scaleX(99%);
  transform: scaleY(99%);
}

input {
  width: 100%;
  grid-column: first / last;
  padding: .3em;
  text-align: right;
  border-radius: 0;
  border-color: #ffffff;
  border-width: 0;
}

input:hover {
  cursor: default;
}

button.first.clear {
  font-size: 71%;
}

button.first {
  grid-column: first;
}

button.second {
  grid-column: second;
}

button.third {
  grid-column: third;
}

button.last {
  background-color: orange;
  grid-column: last;
}

button.last:hover {
  background-color: rgba(255, 199, 149, 1);
}